@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    height: 100%;
}

.background {
    height: 100%;
    height: 100%;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background__mask {
    background-image: url(../img/mask.png);
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.3;
}

.wrapper {
    max-width: 400px;
    max-height: 650px;
    z-index: 2;
    
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.wrapper__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.wrapper label:nth-child(2),
.wrapper label:nth-child(5) {
    color: #e1c2f1;
    width: 100%;
    /* text-align: left;  */
}

.wrapper input[type="radio"] {
    visibility: hidden;
    width: 0;
}

#form__info input[type="text"], input[type="password"] {
    width: 261px;
    height: 42px;
    background: none;
    border: none;
    border: 2px solid #92889c;
    margin-top: 5px;
    padding-left: 5px;
}

.info__user input[type="text"], input[type="password"]:focus {
    outline: none;
}

.info__user div > label {
    color: white;
}

.wrapper__form div > a {
    text-decoration: none;
    color: #92889c;
}

.user__name {
    padding: 30px 0 20px;
}

.user__checkbox {
    padding: 15px 0 40px;
}

.form__btn button {
    width: 261px;
    height: 42px;
    margin-bottom: 25px;
    background-color: #23ae92;
    color: white;
    border: none;
}

.form__btn button:focus {
    outline: none;
}

.form__footer {
    display: flex;
    justify-content: space-between;
}

.info__user > .form__footer span {
    border-bottom: 1px solid rgba(146,126,195, 0.3);
    padding-bottom: 5px;
    font-size: 13px;
}

.user__checkbox {
    display: flex;
    align-items: center;
}

.info__user > div.user__checkbox label {
    font-size: 13px;
    padding-left: 5px;
} 

.wrapper input:first-child:checked ~ .wrapper__form > div:last-child,
.wrapper input:nth-child(4):checked ~ .wrapper__form > div:last-child{
    display: none;
}

/* .info__user > div.user__checkbox input[type="checkbox"]:checked {
    background-color: seagreen;
} */


#info__yourself {
    color: white;
    font-size: 13px;
    margin-top: 15px;
}

#tab1,
#tab2 {
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    letter-spacing: 2px;
}

#tab1:hover,
#tab2:hover {
    color: white;
    border-bottom: 2px solid #e66a64;
    transition: linear 0.2s all;
}

.user__input:invalid+.user__error {
    visibility: visible;
    color: red;
    font-size: 14px;
}

.user__input+.user__error {
    visibility: hidden;
    color: red;
    font-size: 14px;
}

.wrapper span:nth-child(3) {
    visibility: hidden;
}