* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(45, 153, 77, 0.288);
}

.wrapper {
    width: 600px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__card {
        width: 250px;
        height: 330px;
        position: relative;
    }

    .card__box {
        display: none;

        &:checked {
            +.card {
                animation: cardsMoving 2s ease-in-out both;

                .card__face {
                    &_down {
                        transform: perspective(300px) rotateY(90deg);
                        transition-delay: 0s;
                    }

                    &_up {
                        transform: perspective(300px) rotateY(0deg);
                        transition-delay: 0.9s;
                    }
                }
            }
        }
    }
}

.card {
    position: absolute;
    left: -350px;

    @for $i from 1 through 36 {
        &[for="#{$i}"] {
            z-index: 37 - $i;
            left: -350px - $i * 0.5;
            top: ($i - 1) * 0.50px;
        }
    }

    .card__face_down {
        background-image: url("../img/card.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        box-shadow: 0 0.45px 1px rgb(168, 168, 168);
        position: absolute;
        top: 0;
        left: 0;
    }

    .hearts {
        transform: perspective(400px) rotateY(-90deg);
        background-color: #FF0800;
    }

    .spades {
        transform: perspective(400px) rotateY(-90deg);
        background-color: #C7C7C7;
    }

    .diamonds {
        transform: perspective(400px) rotateY(-90deg);
        background-color: #FFAE23;
    }


    .clubs {
        transform: perspective(400px) rotateY(-90deg);
        background-color: #323232;
    }


    .card__face {
        width: 250px;
        height: 330px;
        transition: 1s;
        border-radius: 10px;
    }
}


@keyframes cardsMoving {
    0% {
        left: -350px;
    }

    50% {
        left: -175px;
        z-index: 36;
    }

    100% {
        left: 0;
        top: 10px;
        z-index: 36;
    }
}