* {
    padding: 0;
    margin: 0;
}

.wrapper {
    position: relative;
    background-color: yellow;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 0 auto;
}

.left_eye {
    background-color: white;
    width: 80px; 
    height: 80px;
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 50%;
    z-index: 3;
}

.right_eye {
    background-color: white;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20%;
    right: 25%;
    border-radius: 50%;
    z-index: 3;
}

.nouse {
    background-color: white;
    width: 70px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 50%;
    z-index: 3;
}

.mouth1 {
    background-color: white;
    position: absolute;
    left: 25%;
	top: 40%;
	width: 50%;
	height: 50%;
    border-radius: 50%;
    z-index: 1;
}

.mouth2 {
    background-color: yellow;
    position: absolute;
    left: 20%;
	top: 25%;
	width: 60%;
	height: 60%;
    border-radius: 50%;
    z-index: 2;
}
