@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    min-height: 1000px;
    margin: 0 auto;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper__content {
    max-width: 1170px;
    width: 90%;
    height: 100%;
    padding-top: 50px;
    margin: 0 auto;
}

.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.header__menu {
    display: flex;
    width: 65%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
   
.nav__list {
    list-style: none;
    display: flex;
    width: 65%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 25px;
}

.nav__link {
    text-decoration: none;
    color: black;
}

.nav__item:hover {
    border-top: 3px solid red;
    padding: 4px 0;
}

.header__info {
    max-width: 340px;
    margin-top: 300px;
}

.main__header {
    font-size: 60px;
}

.info__btn {
    width: 200px;
    height: 50px;
    background-color: #ff6033;
    color: white;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
}

.main__text {
    margin: 25px 0 25px;
    color: #39393e;
}

.wrapper__scroll {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}
    
.body {
    background-color: #00b6b6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -80px;
}

.body__about {
    max-width: 600px;
    margin: 0 auto;
}

.about__header {
    font-size: 70px;
    color: white;
}

.about__text {
    color: #dddfdf;
    font-size: 17px;
    margin: 25px 0 34px;
}