* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.controls__user {
    display: flex;
    flex-direction: column;
    
}

.wrapper__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__controls {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 30px;
}

.content__header {
    width: 100%;
    height: 25%;
}

.content__header h1 {
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.content__header p {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin: 0px 530px;
    text-align: center;
}

.controls__user {
    justify-content: space-around;
    width: 35%;
} 

.controls__user input {
    border: none;
    background-color: rgba(125,223,223,0.7);
    margin-bottom: 5px;
    height: 50px;
    padding-left: 10px;
    /* color: white; */
}

.controls__user input::placeholder,
textarea::placeholder {
    color: white;
    font-weight: lighter;

}

.controls__user textarea {
    background-color: rgba(125,223,223,0.7);
    border: none;
    padding: 10px 0 0 10px;
    /* color: white; */
}

.controls__cahee-info {
    width: 33%;
}

.controls__cahee-info span {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.controls__cahee-info p {
    font-size: 20px;
    font-weight: lighter;
}

.cahhe-info__mail {
    margin: 10px 0;
}

.wrapper__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    background-color: black;
    color: white;
    font-size: 14px;
    height: 90px;
}

.footer__rights {
    font-size: 16px;
    font-weight: lighter;
    color: #616161;
}

.footer__author {
    font-size: 15px;
    font-weight: lighter;
    color: #939393;
}

.footer__author span {
    color: #ea2a52;
}

a {
    color: black;
    text-decoration: none;
}

.controls__user input:hover,
.controls__user textarea:hover {
    background-color: rgb(0,196,196);
    border-left: 4px solid rgb(53,91,130);
    transition: linear 1s all;
}

.controls__user input:focus,
.controls__user textarea:focus {
    outline: none;
}